<h3>
    National Library
</h3>
<hr/>


<div class="row">
    <div class="col-md-4">
       
        <div class="card">
                    <img src="/src/assets/address.PNG" alt="Avatar" style="max-height:150px;">                  
                    <h6><b>Address:</b></h6>       
                    <p>
                        DIRECTOR GENERAL, National Library,<br> 
                        Belvedere, Kolkata-700027 (Formerly Calcutta) <br>
                        West Bengal, India
                    </p> 
          </div> 
    </div>

    <div class="col-md-4">
       
        <div class="card">
                <img src="/src/assets/phone.PNG" alt="Avatar" style="max-height:150px;">                  
                <h6><b>Phone Numbers:</b></h6>       
                <p>
                        Main Campus:  91-33-4791381 to 87 <br>
                        Director’s Off: 91-33-24792968 <br>
                        Librarian Off :  91-33-24792467 <br>
                        Fax: +91-33-4791462
                </p> 
      </div> 
    </div>

</div>





