<div class="row bookItem">
  <div class="col-xs-12 col-md-4">
      <img class="bookThumb" src="http://static.lulu.com/cmsmedia/create-page/create_page_images_book.jpg">
  </div>
  <div class="col-xs-12 col-md-6">
    <h4 class="bookTitle">      
        {{book.title}}        
    </h4>
    <h6 style="color:rgb(3, 3, 77); font-style: italic">
        {{book.author}}  |  {{book.category}}
    </h6>
    <p [ngStyle]="{'color':book.availability == 'Available' ? 'green' : 'red' }">
        {{book.availability}}         
    </p> 
    <p class="lblDescription" style="text-align: justify;">{{book.description}}</p>
    <div>
            <span (click)="openDetails(book)" class="btn btn-info btn-sm" style="height:20px; line-height: 8px;">View Details</span> &nbsp;&nbsp;
            <span *ngIf="book.availability == 'Available'" class="btn btn-success btn-sm" style="height:20px; line-height: 8px;">Issue this Book</span>            
    </div>
  </div>
  
</div>